<!DOCTYPE html>
<html>
  <head>
    <title>Havlasana App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <h1>HAVLASANA</h1>
    <%= yield %>
    <p>Now is <%= Time.now %></p>
     <p>A very simple footer</p>  <!-- Add this -->
  </body>
</html>
